- error = @library.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @library.errors.include?(:link)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :link, :class => 'control-label'
  .controls
    =f.text_field :link, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:link, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:libraries, :index), :class => 'btn btn-default'