%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:libraries, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:libraries, :new)

.tabs-content
  = form_for :library, url(:libraries, :create), :class => 'form-horizontal' do |f|
    =partial 'libraries/form', :locals => { :f => f }
