- error = @project.errors.key?(:title) && @project.errors[:title].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @project.errors.key?(:body) && @project.errors[:body].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :body, :class => 'control-label'
  .controls
    ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)
- error = @project.errors.key?(:screenshots) && @project.errors[:screenshots].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :screenshots, :class => 'control-label'
  .controls
    =f.text_field :screenshots, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:screenshots, :class => 'text-error') : pat(:example)

- error = @project.errors.include?(:languages)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :languages, :class => 'control-label', :value => @selected_languages
  .controls
    =f.select :languages, :class => 'form-control input-large input-with-feedback', :collection => @languages_list, fields: [:name, :id], :multiple => true, :value => @selected_languages
    %span.help-inline=error ? f.error_message_on(:languages, :class => 'text-error') : ''

- error = @project.errors.include?(:selected_libraries)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :selected_libraries, :class => 'control-label', :value => @selected_libraries
  .controls
    =f.select :selected_libraries, :class => 'form-control input-large input-with-feedback', :collection => @libraries_list, fields: [:name, :id], :multiple => true, :value => @selected_libraries
    %span.help-inline=error ? f.error_message_on(:selected_libraries, :class => 'text-error') : ''

- error = @project.errors.include?(:platforms)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :platforms, :class => 'control-label', :value => @selected_platforms
  .controls
    =f.select :platforms, :class => 'form-control input-large input-with-feedback', :collection => @platforms_list, fields: [:name, :id], :multiple => true, :value => @selected_platforms
    %span.help-inline=error ? f.error_message_on(:platforms, :class => 'text-error') : ''

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:projects, :index), :class => 'btn btn-default'