/ Header
%header#top.header
  .title-header
    %h1 Manpreet Singh
    %h3 Full Stack Junior Developer
  .text-vertical-center
    %i.icon-logo
    %br/
    %br/
    %br/
    %br/
    %a.btn.btn-dark.btn-lg{:href => "#about"} About
    %a.btn.btn-dark.btn-lg{:href => "#projects"} Projects
    %a.btn.btn-dark.btn-lg{:href => "/files/resume_2016.pdf"} Resume
    %a.btn.btn-dark.btn-lg{:href => "#contact"} Contact

/ About
%section#about.about
  .container
    .row
      .col-lg-12
        .text-center
          %span.avatar-img
            %img{:src => "/images/avatar.jpg"}/
          %h1.about-me-title Manpreet Singh
          %h3.about-me-subtitle -- Full Stack Junior Developer --
        %br/
        .col-md-6
          %p.lead{:style => "font-size:16px;"}
            Passionate web & mobile developer from the Indianapolis area. I have been mainly focused on developing native iOS and Android apps the last 4 years. I also have an interest in UI/UX design. 
            %br/
            %br/
            You can't have a good application without a good design. It is common practice nowadays to use your smartphone to look up everything, consequently it's important to have a mobile-friendly design. 
        .col-md-6
          %p.lead{:style => "font-size:16px;"}
            I'm also a hackathon enthusiast. I love to attend hackathons with friends and compete with other programmers. 
            %br/
            %br/
            When I'm not busy staring at a box with LED lights, I love to watch football & play volleyball with family and friends. Huge Colts fan, never missed a Colts game for as long as I've been watching football. Also I'm a Peyton Manning fan, even though he did leave us. :'(

/ Portfolio
%section#projects.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Projects
        %hr.small/
        %ul.row.grid.cs-style-3
          = partial 'projects/project', :collection => @projects

