@font-face {
	font-family: 'manny';
	src:url('../fonts/manny.eot?1wl8bu');
	src:url('../fonts/manny.eot?#iefix1wl8bu') format('embedded-opentype'),
		url('../fonts/manny.woff?1wl8bu') format('woff'),
		url('../fonts/manny.ttf?1wl8bu') format('truetype'),
		url('../fonts/manny.svg?1wl8bu#manny') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.icon-logo:before {
    font-family: 'manny';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    font-size: 140px;
    color: white;
    opacity: 0.6;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\e600";
}

.title-header {
    position:absolute;
    padding-left:20px;
}

.title-header h1 {
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom:0px;
    color: rgba(255,255,255,0.45);
}

.title-header h3 {
    font-family: Georgia,"Lucida Sans",serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 200;
    margin-top: 6px;
    color: rgba(0,0,0,0.80);
}

.avatar-img {
    display: inline-block;
    width: 126px;
    height: 126px;
    overflow: hidden;
    background-color: #fff;
    border: 3px solid #fff;
    position: relative;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.avatar-img img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.about-me-title {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0;
    margin:0px;
}

.about-me-subtitle {
    font-family: Georgia,"Lucida Sans",serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 200;
    margin-top: 6px;
    color: rgba(0,0,0,0.80);
}
