%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:languages, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:languages, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:languages, :edit, :id => @language.id)

.tabs-content
  = form_for :language, url(:languages, :update, :id => @language.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'languages/form', :locals => { :f => f }
