%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:languages, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:languages, :new)

.tabs-content
  = form_for :language, url(:languages, :create), :class => 'form-horizontal' do |f|
    =partial 'languages/form', :locals => { :f => f }
