- @title = @project.title

%section#projects.portfolio
    .container
        .row
            .col-lg-10.col-lg-offset-1
                .project.portfolio-item
                    .title= @project.title
                    .body= simple_format(@project.body.to_s.html_safe)
                    %ul.grid
                        - @project.screenshots.each do |s|
                            %li.portfolio-item
                                %img.img-portfolio.img-responsive{:alt => @project.title, :src => "/images/screenshots/"+s}/
          
