    <!-- Header -->
    <header id="top" class="header">
        <div class="title-header">
            <h1>Manpreet Singh</h1>
            <h3>Full Stack Junior Developer</h3>
        </div>

        <div class="text-vertical-center">
            <i class="icon-logo"></i>
            <br><br><br><br>
            <a href="#about" class="btn btn-dark btn-lg">About</a>
            <a href="#projects" class="btn btn-dark btn-lg">Projects</a>
            <a href="#contact" class="btn btn-dark btn-lg">Contact</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <span class="avatar-img"><img src="/img/avatar.jpg" /></span>
                        <h1 class="about-me-title">Manpreet Singh</h1>
                        <h3 class="about-me-subtitle">-- Full Stack Junior Developer --</h3>
                    </div>
                    <br>
                    <div class="col-md-6"><p class="lead" style="font-size:16px;">

                        For 8 years I've designed, developed, and marketed websites and apps for startups in San Francisco, California and Tampa Bay, Florida.

                        <br><br>

                        The key to designing a great experience is empathy. I place myself in the users' shoes to genuinely consider what the user wants from the product.

                    </p></div>
                    <div class="col-md-6"><p class="lead" style="font-size:16px;">

                        I live and design by the mantra "Don't make me think." I craft my designs to help the user quickly understand where they are and what they can do on each interface.

                        <br><br>

                        The best user interface is one that you don't notice. To accomplish that, I use minimal and recognizable design patterns.

                    </p></div>
<!--                     <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="projects" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Projects</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/img/portfolio-1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/img/portfolio-2.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/img/portfolio-3.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/img/portfolio-4.jpg">
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
